@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Josefin-sans;
    src: url(./assets/fonts/JosefinSans.ttf) format('truetype');
  }
  @font-face {
    font-family: Gemini-moon;
    src: url(./assets/fonts/Geminimoon.otf) format('opentype');
  }
  @font-face {
    font-family: Gemini-moon2;
    src: url(./assets/fonts/Geminimoon2.otf) format('opentype');
  }
  @font-face {
    font-family: 'Virgil';
    src: url('https://excalidraw.com/Virgil.woff2');
  }
  @font-face {
    font-family: 'Cascadia';
    src: url(./assets/fonts/Cascadia.ttf) format('truetype');
  }
}
