.quill.abstract .ql-container.ql-bubble .ql-editor {
  height: 18px;
  cursor: pointer;
  font-family: 'Josefin-sans';
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0px;
  padding-top: 2px;
}
.quill.abstract .ql-container.ql-bubble .ql-tooltip {
  display: none !important;
}
.quill.abstract .ql-container.ql-bubble .ql-clipboard {
  display: none !important;
}

.quill.abstract .ql-container.ql-bubble .ql-editor * {
  height: 18px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  text-overflow: ellipsis;
  display: block;
}
