.quill.post-picture .ql-container.ql-bubble .ql-editor {
  padding: 0px;
}

.quill.post-picture .ql-container.ql-bubble .ql-tooltip {
  display: none !important;
}
.quill.post-picture .ql-container.ql-bubble .ql-clipboard {
  display: none !important;
}

.quill.post-picture .ql-container.ql-bubble .ql-editor img {
  height: 76px;
  width: 92px;
  object-fit: cover;
  border-radius: 6px;
  border: 2px solid #474748;
}

.quill.post-picture .ql-container.ql-bubble .ql-editor p {
  height: 76px;
  width: 92px;
  overflow: hidden !important;
}
