.quill.trending .ql-container.ql-bubble .ql-tooltip {
  display: none !important;
}
.quill.trending .ql-container.ql-bubble .ql-clipboard {
  display: none !important;
}

.quill.trending .ql-container.ql-bubble .ql-editor {
  height: 36px;
  width: 222px;
  overflow: hidden;
  white-space: wrap;
  cursor: pointer;
  text-overflow: ellipsis;
  display: block;
  padding: 0;
}

.quill.trending .ql-container.ql-bubble .ql-editor img {
  height: 36px;
  width: 222px;
  object-fit: cover;
  border-radius: 6px;
  border: 2px solid #474748;
}

.quill.trending .ql-container.ql-bubble .ql-editor p {
  height: 36px;
  width: 222px;
}
